.web-title {
    width: 100%;
    height: 100px;
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    position: fixed;
    padding: 0;
    margin: 0;
}
.web-header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
}
body{
    margin: 0;
    padding: 0;
}
.web-body {
    height: 4700px;
    width: 100%;
    margin: 0 auto;
    background-color: lightgray;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin: 0;
}
.post1,
.post2,
.post3,
.post4 {
    object-position: center;
    border-radius: 5px;
    background-color: white;
    width: 1000px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
.photo-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    justify-content: space-between;
}
.photo-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.image img {
    width: 1000px;
    height: 1000px;
    object-fit: cover;
    display:block;
}

.comment-post1,
.comment-post2,
.comment-post3,
.comment-post4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: white;
    padding: 15px;
    color: black;
    text-align: left;
}